<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1, shrink-to-fit=no'
    />
    <link
      rel='stylesheet'
      type='text/css'
      href='{{ url_for('app_blueprint.static', filename='css/bootstrap.min.css') }}' />
    <link
      rel='stylesheet'
      type='text/css'
      href='{{ url_for('app_blueprint.static', filename='css/bootstrap.css') }}' />
    <link
      rel='stylesheet'
      type='text/css'
      href='{{ url_for('app_blueprint.static', filename='css/app.css') }}' />
    <title>ResumeParsing</title>
  </head>
  <body>
    <main>
      <!-- [ Pre-loader ] start -->
      <!-- 
        <div class = 'loading-area' id='loader'>
        <div class='loader'>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
      -->
      <!-- [ Pre-loader ] End -->
      <!-- include 'templates/index.html' -->
      {% extends 'accounts/login.html' %}
    </main>

    <script
      src='https://code.jquery.com/jquery-3.3.1.slim.min.js'
      integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo'
      crossorigin='anonymous'
    ></script>
    <script
      src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js'
      integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1'
      crossorigin='anonymous'
    ></script>
    <script src='{{ url_for('app_blueprint.static', filename='js/bootstrap.min.js') }}'></script>

    <script>
      // Function to hide the loader after a delay (e.g., 2 seconds)
      function hideLoader() {
        var loader = document.getElementById('loader');
        loader.style.display = 'none';
      }

      // Call the hideLoader function after a specified delay (in milliseconds)
      setTimeout(hideLoader, 2000); // Adjust the delay as needed
    </script>
  </body>
</html>
